activityinfo/src/main/java/org/activityinfo/shared/i18n/UIConstants.java
activityinfo/src/main/java/org/activityinfo/shared/i18n/UIMessages.java
activityinfo/war/WEB-INF/classes
activityinfo/war/temp
