sigmah/*.launch
sigmah/.classpath
sigmah/.project
sigmah/.settings
sigmah/src/main/java/org/sigmah/client/i18n/UIConstants.java
sigmah/src/main/java/org/sigmah/client/i18n/UIMessages.java
sigmah/src/main/java/org/sigmah/client/page/dashboard/MenuStoreFilter.java
sigmah/src/main/java/org/sigmah/client/page/dashboard/ValueStoreFilter.java
sigmah/synctest
sigmah/target
sigmah/war/ActivityInfo
sigmah/war/Login
sigmah/war/Sigmah
sigmah/war/WEB-INF/classes
sigmah/war/WEB-INF/lib
sigmah/war/activityinfo.log
sigmah/war/temp
