<?xml version="1.0" encoding="UTF-8" ?>

<configuration scan="true" scanPeriod="60 seconds">

	<!-- ################################################### -->
	<!-- ## PROPERTIES. -->
	<!-- ################################################### -->

	<property name="LOG_FILE" value="${catalina.base}/logs/${release.name}.log" />
	<property name="LOG_WARN_FILE" value="${catalina.base}/logs/${release.name}-warns.log" />
	<property name="LOG_ERROR_FILE" value="${catalina.base}/logs/${release.name}-errors.log" />

	<property name="PATTERN" value="${log.pattern}" />

	<!-- ################################################### -->
	<!-- ## APPENDERS. -->
	<!-- ################################################### -->

	<!-- Stdout appender. -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>${PATTERN}</pattern>
		</encoder>
	</appender>

	<!-- File (all logs) appender. -->
	<appender name="FILE_ALL" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_FILE}</file>

		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- daily rollover -->
			<fileNamePattern>${LOG_FILE}.%d{yyyy-MM-dd}.%i.log</fileNamePattern>

			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>100MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>

		<encoder>
			<pattern>${PATTERN}</pattern>
		</encoder>
	</appender>

	<!-- File warnings (only) appender. -->
	<appender name="FILE_WARN" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_WARN_FILE}</file>

		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>WARN</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>

		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- daily rollover -->
			<fileNamePattern>${LOG_WARN_FILE}.%d{yyyy-MM-dd}.%i.log</fileNamePattern>

			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>100MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>

		<encoder>
			<pattern>${PATTERN}</pattern>
		</encoder>
	</appender>

	<!-- File errors (and above) and warning appender. -->
	<appender name="FILE_ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_ERROR_FILE}</file>

		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>ERROR</level>
		</filter>

		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- daily rollover -->
			<fileNamePattern>${LOG_ERROR_FILE}.%d{yyyy-MM-dd}.%i.log</fileNamePattern>

			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>100MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>

		<encoder>
			<pattern>${PATTERN}</pattern>
		</encoder>
	</appender>


	<!-- ################################################### -->
	<!-- ## LOGGERS. -->
	<!-- ## Loggers LEVEL can be changed dynamically without restarting server. -->
	<!-- ################################################### -->

	<root level="WARN">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE_ALL" />
		<appender-ref ref="FILE_WARN" />
		<appender-ref ref="FILE_ERROR" />
	</root>

	<!-- These loggers level should be set to INFO or WARN in production. -->
	<logger name="org.sigmah" level="${log.level}" />

</configuration>
