/* $Id: print.css,v 1.1.2.2 2008/08/21 22:03:40 jcnventura Exp $ */
/* This file extends and replaces the print.css default file of the print module
   This file is used through a specific configuration of the Print module.
 */

body {
  margin: 1em;
  background-color: #fff;
  font-family: sans-serif;
}
th {
  text-align: left; /* LTR */
  color: #006;
  border-bottom: 1px solid #ccc;
}
tr.odd {
  background-color: #ddd;
}
tr.even {
  background-color: #fff;
}
td {
  padding: 5px;
}
#menu {
  visibility: hidden;
}
#main {
  margin: 1em;
}
a:link {color: #000;}
a:visited {color: #000;}
a:hover {color: #00f;}
a:link img, a:visited img {border: 0;}
.print-footnote {font-size: xx-small;}
img.print-logo {border: 0;}
.print-site_name {}
.print-breadcrumb {font-size: x-small;}
.print-title {}
.print-submitted {font-size: small;}
.print-created {font-size: small;}
.print-taxonomy {
  text-align: right;
}
.print-taxonomy li {display: inline;}
.print-content {
  font-size: 13px;
}
.print-hr {
  border: 0;
  height: 1px;
  width: 100%;
  color: #9E9E9E;
  background-color: #9E9E9E;
}
.print-message {
  border: medium dotted blue;
  padding: 1em;
}
.print-source_url {font-size: small;}
.print-links {font-size: small;}
.print-footer {text-align: center;}

div.section-1 h1.book-heading {
  text-align: center;
  font-size: 36px;
}

div.section-2 h1.book-heading {
  text-align: left;
  font-size: 22px;
  margin-left: 10px;
}

div.section-3 h1.book-heading {
  text-align: left;
  font-size: 18px;
  margin-left: 20px;
}

div.section-4 h1.book-heading {
  text-align: left;
  font-size: 16px;
  margin-left: 30px;
}

div.section-5 h1.book-heading {
  text-align: left;
  font-size: 14px;
  margin-left: 40px;
}

div.section-6 h1.book-heading {
  text-align: left;
  font-size: 12px;
  margin-left: 50px;
  font-style: italic;  
}

